<div id="display-cohorts">

<div id="edit-div">
<a href=""><div><i class="fas fa-plus"></i><p>Add Cohort</p></div></a>
<a href=""><div><i class="fas fa-plus"></i><p>Edit Cohort</p></div></a>
</div>



</div>