


<div class="div-inner">
<div class="title-div"><h3>Student Profile</h3></div>
<div id="profile-table-div" class="table-div">

<div class = "info-container">

<div class="profile-border">
<div class="profile-img-div"><img src="http://i66.tinypic.com/2hwoao9.png"></div>
</div>

<div class="display-info">
<div class="name-display"><div>First name: <%=@student.fname %> </div> <div>Last name: <%=@student.lname %></div> </div>

<p>Age: <%=@student.age %></p>
<p>Cohort: <%=@student.cohort_id %></p>
</div>


</div>

</div>
</div>