
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="home.css" />
    
</head>
<body>


<div id="display-container">
<h2 id="dashboard">Dashboard</h2>

<div id="display-inner">

<a class="data-link" href="/students">
<div class="data-div">
<div><i class="fas fa-users"></i></div>
<div>
<h3>Total Students<h3>
<h4><%=@student%><h4>
</div>
</div>

<a class="data-link" href="/teachers">
<div class="data-div">
<div><i class="fas fa-chalkboard-teacher"></i></div>
<div>
<h3>Total Teachers<h3>
<h4><%=@teacher%><h4>
</div>
</div>
</a>

<a class="data-link" href="/courses">
<div class="data-div">
<div><i class="fas fa-graduation-cap"></i></div>
<div>
<h3>Courses<h3>
<h4><%=@course%><h4>
</div>
</div>
</a>

<a class="data-link" href="/cohorts">
<div class="data-div">
<div><i class="fas fa-book"></i></div>
<div>
<h3>Cohorts<h3>
<h4><%=@cohort%><h4>
</div>
</div>
</a>


</div>

</div>
<script src="main.js"></script>
</body>
</html>
