<div class="div-inner">
<div class="title-div"><h3>All Teachers</h3></div>
<div class="table-div">



<div class="add-btn-div"><a class="add-cohort" href="/teachers/new"><i class="fas fa-plus"></i>Add Teacher</a></div>

<div class="course-container">



<% @teachers.each do |teacher|%>
    <div class="course-div">

    <div class="teacher-border">
    <div class="profile-img-div"><a href="/teachers/<%=teacher.id%>"><img src="http://i66.tinypic.com/2hwoao9.png"></a></div>
    </div>

    <div class="teacher-info">
    <div><h3><%=teacher.fname%> <%=teacher.lname%></h3></div>  
    <div>myemail@gmail.com</div>
    <div>917-888-8888</div>
     <div class="read-div"><a class="teacher-read-more"href="/teachers/<%=teacher.id%>/edit">Read More</a></div>
    
   </div>

   </div>
<% end %>

</div>
</div>

</div>

</div>

</div>