<div class="div-inner">
<div class="title-div"><h3>All Courses</h3></div>
<div class="table-div">



<div class="add-btn-div"><a class="add-cohort" href="/courses/new"><i class="fas fa-plus"></i>Add Course</a></div>

<div class="course-container">



<% @courses.each do |course|%>
    <div class="course-div">
    <div><a href="#display all the cohorts in that course"><img src="https://via.placeholder.com/231x150"></a></div>

    <div>
    <div><%=course.name%></div>
    <div><%=course.hours%></div>
    <div><a href="/courses/<%=course.id%>/edit"><i class="far fa-edit"></i></a></div>
   </div>

   </div>
<% end %>

</div>
</div>

</div>

</div>

</div>