<div id="display-container">
<%= form_with model: @course do |form| %>
    <%= form.text_field :name,placeholder:"course name"%>
    <%= form.number_field :hours, placeholder:"course hours"%>
    <%= form.submit %>
  <% end %>
  </div>