<%=@course.name%>
<%=@course.hours%>


<div class="div-inner">
<div class="title-div"><h3>Course Details</h3></div>


<div class="small-table-div">

<div class="course-display">
<div><img src="https://via.placeholder.com/231x150"></div>
<div><%=@course.name%></div>
</div>
</div>
</div>