body{
    margin:0;
    background-color:#EAEEF3;
    font-family: 'Open Sans', sans-serif;


}
#nav{
    display:flex;
    box-shadow: 1px 1px 8px 3px rgba(206, 198, 198, 0.75);
    height: 70px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
#logo{
    display: flex;
    align-items: center;
    background-color:#00c6c3;
    width:240px;
}
#logo h3{
    font-family: sans-serif;
    letter-spacing: 1.5px;
    margin: 0 auto;
    color:white;
}

#icon{
    display: flex;
    margin-left: auto;
    justify-content: space-evenly;
    width: 125px;
    align-items: center;
}
#dropdown{
    position:relative;
    display:inline-block;
}

#drop-content{
    display:none;
    position:absolute;
    z-index: 1;
    min-width:160px;
}

#dropdown:hover #drop-content{
    display:block;
}

#sidenav{
    height:100%;
    width: 16.5%;
    position:fixed;
    z-index: 1;
    left:0;
    overflow-x:hidden;
    padding-top:100px;
    background-color: white;
    top:72px;

}
#links{
    margin-top: 15%;
}
#links div{
    align-items: center;
    display: flex;
    height:60px;
    justify-content: space-around;
}

#links div:hover{
    background-color:#eff2f2;
}
#sidenav div a{
    text-decoration: none;
    color:black;
}

#icon-div{
    display:flex;
    align-items: center;
    padding-left: 22%;
}

#icon-div p {
    padding-left: 5%;
}

#display-container{
    margin-left:auto;
    margin-top: 9%;
    width: 80%;
}
#dashboard{
    margin-left: 2%;
    margin-top: 3%;
    font-size: 1.75em;
}

.data-div{
    width:250px;
    height:150px;
    background-color:#ffc871;
}
#display-inner{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.data-div{
    box-shadow: 2px 2px 3px 3px rgba(206, 198, 198, 0.75);
    align-items: center;
    display: flex;
    justify-content: space-around;

}
 .data-div i{
    font-size: 2.5em;
 }

 .data-div div{
    line-height: .5;
    text-align: center;
    font-size: 1.25em;
 }

 .data-div:hover{
     /* background-color: white;
     color:#ffc871;
     box-shadow: inset 0 0 0 3px #ffc871; */
     box-shadow: 7px 7px 3px 3px rgba(206, 198, 198, 0.75);

 }

 .data-link{
     text-decoration: none;
     color:black;
 }


 /* cohort css */
 #display-courses{
    width: 83.5%;
    margin-left: auto;
    min-height: 800px; 
}

 .add-btn-div{
    display: flex;
    justify-content: flex-end;
    margin-right: 3.5%;
    margin-top: 3%;
    margin-bottom: 3%;
 }



 .course-container{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    position: relative;
    left: 3.4%;
 }
 .course-div{
    width: 250px;
    border: 1px solid #bbb8b8;
    height: 335px;
    margin-right: 2%;
    margin-bottom: 2%;
    color:#38383a;
    padding-top: 20px;
 }

 /* cohorts table */

 table{
    margin: 0 auto;
    margin-top: 5%;
    border-collapse: collapse;
    width: 96%;
    background-color:white;
    margin-bottom: 5%;
 }

 td, th {
    border: 1px solid#E6ECF2;
    text-align: left;
    padding: 8px;
}

th{
    padding-top: 15px;
    padding-bottom: 15px;

}
#table-container{
    border: 1px solid#E6ECF2;
    width: 96%;
    margin: 0 auto;

}
.table-div{
    margin: 0 auto;
    width: 96%;
    background-color: white;
    padding-top: .5%;
    padding-bottom: .5%;
    box-shadow: 3px 3px 5px 5px rgba(206, 198, 198, 0.75);
}

tr:nth-child(even) {
    background-color:#F3F4F6;
}

.div-inner{
    width: 83.5%;
    margin-left: auto;
    margin-top: 8%;
    margin-bottom: 15%;
}
.title-div{
    margin-bottom: 4%;
    margin-left: 2%;
}
.add-div{
    margin-left: 87%;
    margin-top: 5%;
}
.add-cohort{
    box-shadow: 0.5px 0.5px 0.5px 1px rgba(206, 198, 198, 0.75);
    padding: 10px;
    color: #333232;
    text-decoration: none;
    background-color:#00c6c3;
    border-radius: 5px;
   
}

.add-cohort:hover{
    box-shadow: 1px 1px 1px 3px rgba(206, 198, 198, 0.75);
}

/* New cohort css */
.new-form-div{
    font-size: 15px;
    color: grey;
    margin: 0 auto;
    width: 75%;
}

.new-input-div{
    margin-top: 40px;
}
.new-input-div input{
    font-size: 15px;
    height:30px;
    width: 350px;
    border: none;
    border-bottom: 1px solid #c6c9cc;
}


.form-inner{
    justify-content: space-between;
    display:flex;
}
.new-submit{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.new-submit input{
    background-color:#e0e0e0;
    padding: 10px;
    font-size: 15px;
}

.new-submit input:hover{
    box-shadow: 1px 1px 1px 2px rgba(206, 198, 198, 0.75);
}
.form-title-div{
    width: 90%;
    margin: 0 auto;
}

hr{
    width:90%;
}

.img-section{
    text-align:center;
}

.profile-img-div{
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-top: 15px;
}

.profile-img-div img{
    width: 100%;
    height: 100%;
}
.profile-border{
    width: 130px;
    height: 130px;
    border: 2px solid #c7c3c3;
    border-radius: 50%;
    margin-left: 200px;
}

#profile-table-div{
    border-top: 5px solid cornflowerblue;
    width: 75%;
}
.info-container{
    margin: 0 auto;
    width: 60%;
    margin-top: 5%;
}
.name-display{
    display: flex;
    justify-content: space-between;
}

.display-info{
    margin: 0 auto;
    width: 70%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 18px;
}

#teacher-table-div{
    border-top: 5px solid rosybrown;
    width: 75%;
}
.small-table-div{
    width: 23%;
    background-color: white;
    padding-bottom: .5%;
    box-shadow: 3px 3px 5px 5px rgba(206, 198, 198, 0.75);
    margin-left: 5%;
    height: 230px;
    border-top: 5px solid darkslateblue;
}
.course-display{
    margin: 0 auto;
    width: 250px;
    position: relative;
    top: 15px;
}

.course-name{
    color:#3B3E5C;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-top: 5px;
}

.med-table-div{
    margin: 0 auto;
    width: 65%;
    background-color: white;
    padding-bottom: .5%;
    box-shadow: 3px 3px 5px 5px rgba(206, 198, 198, 0.75);
    border-top: 5px solid darkslateblue;
    height: 430px;

}

.flex{
    display:flex;
}

.description-div{
    width:90%;
    margin:0 auto;
}

.description-title{
    display: flex;
    justify-content: space-between;
}


.hours-div{
    margin-top:5%;
}

.date-div{
    display:flex;
    justify-content: space-between;
    width: 60%;
}

.cohort-name{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

.cohort-table{
    width: 55%;
    background-color: white;
    box-shadow: 3px 3px 5px 5px rgba(206, 198, 198, 0.75);
    border-top: 5px solid darkslateblue;
    height: 430px;
}

#small{
    width:30%;
    min-height:430px;
}

.cohort-flex{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.enrolled th,td{
    text-align: center;
}
#student-heading{
    margin-left: 10px;
}
#display-teacher h4, p{
    display:inline;
}
#display-teacher{
    margin-bottom:15px;
}

.hover-section:hover{
    box-shadow: 3px 3px 5px 5px rgba(206, 198, 198, 0.75);

}

.edit-hover:hover{
    box-shadow: 1px 1px 2px 2px rgba(206, 198, 198, 0.75);
}

td a{
    text-decoration: none;
}

.cohort-edit-icon{
    margin-top: 25px;
    font-size: 20px;
}

.course-heading h3{
    font-weight: 700;
    font-size: 25px;
    margin: 10px;
}
.course-main-about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.read-div{
    margin-top: 25px;
}
.read-more{
    text-decoration: none;
    color:white;
    background-color:#00c6c3;
    padding: 10px;
    box-shadow: 0.5px 0.5px 0.5px 1px rgba(206, 198, 198, 0.75);
    border-radius: 3px;
}
.course-edit-icon{
    margin-top: 15px;
    font-size:20px;

}
.teacher-border{
    width: 130px;
    height: 130px;
    border: 2px solid #c7c3c3;
    border-radius: 50%;
    margin: 0 auto;
}
.teacher-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.teacher-info h3{
    font-weight: 700;
    font-size: 23px;
    margin: 10px;
}
.teacher-read-more{
    text-decoration: none;
    color: white;
    background-color: #da3d93;
    padding: 6px 14px;
    box-shadow: 0.5px 0.5px 0.5px 1px rgba(206, 198, 198, 0.75);
    border-radius: 80px;
    font-size: 13px;
}
.trash-div{
    width: 18px;
}
#edit-icon{
    font-size: 18px;
}
.edit-row{
    display: flex;
    justify-content: space-evenly;
}



/* devise login css */
.devise-body{
    background-color:#00c6c3;
    font-family: 'Open Sans', sans-serif;
}

.input-area{
    background-color: white;
    width: 30%;
    height: 400px;
    margin: 0 auto;
    border-radius: 15px;
}
.input-inner{
    align-items: center;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
}

.new_admin{
    width: 70%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.field , .actions{
    width: 100%;
    height: 40px;
}

#admin_email , #admin_password{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 13px;
}


.actions input{
    width: 100%;
    height: 40px;
    background-color: #00c6c3;
    font-size: 18px;
    border-radius: 5px;
    padding: 0;
}
.login-title{
    color:#00c6c3;
    font-weight: 200;
}
#remember{
    height: 20px;
}
.school-logo{
    text-align:center;
    color:white;
}
.login-outer{
    margin-top: 13%;
}
.signup-area{
    width: 100%;
    height: 90px;
    background-color: #eaeaea;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
    width: 100%;
    position: relative;
    top: 20%;
}

.forgot-pw{
    padding-top: 4%;
}

.forgot-pw a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;  
}